<a class="site-brand-inner" rel="author" href="{{ "/" | relative_url }}">
  <img class="site-favicon" title="{{ site.title | escape }}" src="{{ site.favicon }}" onerror="this.style.display='none'">
  {{ site.title | escape }}
  <img style="position: relative; width: 50px;"  src='/assets/images/banners/kernel360-white.png' alt='Kernel360 Crew Tech Blog' />
</a>

<!-- <a class="site-brand-inner" rel="author" href="{{ "/" | relative_url }}">
  {% if site.title contains '<img' %}
    {{ site.title | raw }}
  {% else %}
    <img class="site-favicon" title="{{ site.title | escape }}" src="{{ site.favicon }}" onerror="this.style.display='none'">
    {{ site.title | escape }}
  {% endif %}
</a> -->